.loginPageBackground {
    background-image: url("https://s3.envato.com/files/216035275/_MG_4704.jpg");
    /* background-image: url("https://cdn.dribbble.com/users/2885222/screenshots/6114843/output.gif"); */
    display: block;
    align-content: center;
    margin-top: 0%;
    background-color: #cccccc; 
    height: 50rem; 
    background-size: cover; 
  }

  .recipepagebackground{
    background-image: url("https://image.freepik.com/free-photo/flat-lay-burger-ingredients-with-copy-space_23-2148235012.jpg");
    display: block;
    align-content: center;
    margin-top: -2%;
    background-color: #cccccc; 
    height: 50rem; 
    background-size: cover;
   
  }